.DS_Store
__pycache__
build/
website_src/
node_modules/

data/LM_dataset
data/LM_dataset-points
data/onepose
data/onepose-points
data/onepose_plusplus
data/onepose_plusplus-points
data/ycbv
data/ycbv-points

weights/dinov2_vits14.pth
weights/sam_vit_h_4b8939.pth
